@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-stone-100;
  }
  h1 {
    @apply text-4xl border-b;
  }
  h2 {
    @apply text-3xl border-b;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  blockquote {
    @apply pl-4 border-l border-stone-400 italic;
  }
  pre {
    @apply bg-stone-100;
  }
  a {
    @apply text-indigo-500 underline;
  }
  ul {
    @apply list-disc;
  }
  ul ul {
    list-style-type: circle;
    @apply ml-4;
  }
  ul ul ul {
    list-style-type: square;
  }
  ol {
    @apply list-decimal;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
  }
  table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    @apply border table border-collapse box-border;
  }
  thead {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
    @apply table-header-group bg-neutral-100;
  }
  tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
    @apply table-row border;
  }
  th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
    unicode-bidi: isolate;
    @apply table-cell border;
  }
  td {
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
  }
  #preview td,
  #preview th {
    @apply border border-neutral-200 px-5 py-1;
  }
  tbody {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
  }
}
@layer components {
  .custom-scrollbar {
    overflow-y: auto;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply rounded-lg bg-transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-neutral-300;
  }
  .invisible-scrollbar::-webkit-scrollbar {
    width: 1px;
  }
  .invisible-scrollbar::-webkit-scrollbar-track {
    @apply rounded-sm bg-transparent;
  }
  .invisible-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-sm bg-transparent;
  }
}
